@font-face {
	font-family: 'Neutraface Display Titling';
	src: url('/fonts/Neutraface_Display-Titling.woff2') format('woff2'),
	url('/fonts/Neutraface_Display-Titling.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GT Walsheim';
	src: url('/fonts/GT-Walsheim-Light.eot'); /* IE9 Compat Modes */
	src: url('/fonts/GT-Walsheim-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('/fonts/GT-Walsheim-Light.woff') format('woff'), /* Pretty Modern Browsers */
	url('/fonts/GT-Walsheim-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
	url('/fonts/GT-Walsheim-Light.svg#svgGTWalsheim') format('svg'); /* Legacy iOS */
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'GT Walsheim';
	src: url('/fonts/GT-Walsheim-Regular.eot'); /* IE9 Compat Modes */
	src: url('/fonts/GT-Walsheim-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('/fonts/GT-Walsheim-Regular.woff') format('woff'), /* Pretty Modern Browsers */
	url('/fonts/GT-Walsheim-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
	url('/fonts/GT-Walsheim-Regular.svg#svgGTWalsheim') format('svg'); /* Legacy iOS */
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'GT Walsheim';
	src: url('/fonts/GT-Walsheim-Bold.eot'); /* IE9 Compat Modes */
	src: url('/fonts/GT-Walsheim-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('/fonts/GT-Walsheim-Bold.woff') format('woff'), /* Pretty Modern Browsers */
	url('/fonts/GT-Walsheim-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
	url('/fonts/GT-Walsheim-Bold.svg#svgGTWalsheim') format('svg'); /* Legacy iOS */
	font-weight: 700;
	font-style: normal;
}

%default-paragraph-light{
	color: $blue;
	font-size: 20px;
	font-weight: 300;
	line-height: 27px;
}

//@include sm{
//	%default-paragraph-light{
//		font-size: 17px;
//		line-height: 24px;
//	}
//}