footer {
  min-height: 98px;
  padding-left: 0.5em;
  background-color: $blue;
  font-family: 'Neutraface Display Titling';
  font-size: 30px;
  line-height: 0.73;
  color: $white;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
}