.container {
  width: 1120px;
  margin: auto;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

.large-heading {
  display: inline-block;
  position: relative;
  margin-bottom: 30px;
  font-family: 'Neutraface Display Titling';
  font-size: 70px;
  line-height: 0.83;
  color: $blue;

  &.arrow {
    &:after {
      position: absolute;
      content: url("/images/pijl.svg");
      bottom: calc(50% - 36px);
      right: -110px;
    }
    &:hover:after {
      animation: pulse;
      animation-duration: 1s;
    }
  }
}

section {
  h2, p {
    margin-left: 95px;
  }
  p {
    max-width: 665px;
    margin-bottom: 60px;
    font-family: 'GT Walsheim';
    font-size: 20px;
    font-weight: 300;
    line-height: 1.35;
    color: $dark;
  }
}

#collection {
  margin-bottom: 100px;
  position: relative;
  min-height: 886px;

  img {
    position: absolute;
    &:hover {
      z-index: 1;
      animation: pulse;
      animation-duration: 1s;
    }
  }

  #img-left {
    left: 0;
    top: 247px;
  }

  #img-top {
    top: 0;
    left: 135px;
  }

  #img-bottom {
    bottom: 0;
    right: 110px;
  }
  #img-right {
    bottom: 299px;
    right: 0;
  }
}

#about-us-photos {
  margin-bottom: 100px;
  position: relative;
  min-height: 870px;

  #img-bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  #img-top-right {
    position: absolute;
    top: 0;
    right: 0;
  }

}

#contact {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  div {
    display: flex;
    flex-direction: row;
    p {
      span {
        display: block;
        margin-top: 22px;
        font-size: 13px;
        font-style: oblique;
      }
      &:nth-child(2) {
        margin-left: 122px;
      }
    }
  }
  img {
    margin-right: 95px;
  }
}

#go-up {
  display: none;
  position: fixed;
  bottom: 150px;
  right: 30px;
  z-index: 99;
  transform: rotate(90deg);

  font-family: 'GT Walsheim';
  font-size: 20px;
  line-height: 1.35;
  color: $blue;

  &:after {
    content: url("/images/pijl_blauw.svg");
    position: absolute;
    left: -40px;
    bottom: -8px;
    transform: rotate(-90deg);
  }
}