header {
  height: 720px;
  background-color: $blue;
  margin-bottom: 100px;

  #main-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;

    #logo {
      align-self: flex-end;
      font-family: 'Neutraface Display Titling';
      font-size: 31px;
      color: $white;
    }

    #nav {
      width: 43%;
      display: flex;
      justify-content: space-between;
      .nav-item {
        padding-top: 9px;
        padding-bottom: 6px;
        font-family: 'GT Walsheim';
        font-size: 20px;
        color: $white;
        font-weight: lighter;
        &.active, span.active {
        font-weight: bold;
        }
      }
    }

  }

  .site-title {
    margin-top: 69px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Neutraface Display Titling';
    font-size: 130px;
    line-height: 0.77;
    color: $white;
  }

  .site-description {
    position: relative;
    text-align: center;
    margin-top: 30px;
    font-family: 'GT Walsheim';
    font-size: 20px;
    line-height: 1.35;
    color: $white;

    #letsgo {
      position: absolute;
      right: -20px;
      top: 30px;
      transform: rotate(90deg);

      &:after {
        content: url("/images/pijl_wit.svg");
        position: absolute;
        right: -40px;
        bottom: -4px;
        transform: rotate(-90deg);
      }
    }
  }

}