@font-face {
  font-family: "Neutraface Display Titling";
  src: url("/fonts/Neutraface_Display-Titling.woff2") format("woff2"), url("/fonts/Neutraface_Display-Titling.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GT Walsheim";
  src: url("/fonts/GT-Walsheim-Light.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/GT-Walsheim-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/GT-Walsheim-Light.woff") format("woff"), url("/fonts/GT-Walsheim-Light.ttf") format("truetype"), url("/fonts/GT-Walsheim-Light.svg#svgGTWalsheim") format("svg");
  /* Legacy iOS */
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "GT Walsheim";
  src: url("/fonts/GT-Walsheim-Regular.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/GT-Walsheim-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/GT-Walsheim-Regular.woff") format("woff"), url("/fonts/GT-Walsheim-Regular.ttf") format("truetype"), url("/fonts/GT-Walsheim-Regular.svg#svgGTWalsheim") format("svg");
  /* Legacy iOS */
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "GT Walsheim";
  src: url("/fonts/GT-Walsheim-Bold.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/GT-Walsheim-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/GT-Walsheim-Bold.woff") format("woff"), url("/fonts/GT-Walsheim-Bold.ttf") format("truetype"), url("/fonts/GT-Walsheim-Bold.svg#svgGTWalsheim") format("svg");
  /* Legacy iOS */
  font-weight: 700;
  font-style: normal;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  height: 720px;
  background-color: #383fe7;
  margin-bottom: 100px;
}
header #main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
}
header #main-nav #logo {
  align-self: flex-end;
  font-family: "Neutraface Display Titling";
  font-size: 31px;
  color: #ffffff;
}
header #main-nav #nav {
  width: 43%;
  display: flex;
  justify-content: space-between;
}
header #main-nav #nav .nav-item {
  padding-top: 9px;
  padding-bottom: 6px;
  font-family: "GT Walsheim";
  font-size: 20px;
  color: #ffffff;
  font-weight: lighter;
}
header #main-nav #nav .nav-item.active, header #main-nav #nav .nav-item span.active {
  font-weight: bold;
}
header .site-title {
  margin-top: 69px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Neutraface Display Titling";
  font-size: 130px;
  line-height: 0.77;
  color: #ffffff;
}
header .site-description {
  position: relative;
  text-align: center;
  margin-top: 30px;
  font-family: "GT Walsheim";
  font-size: 20px;
  line-height: 1.35;
  color: #ffffff;
}
header .site-description #letsgo {
  position: absolute;
  right: -20px;
  top: 30px;
  transform: rotate(90deg);
}
header .site-description #letsgo:after {
  content: url("/images/pijl_wit.svg");
  position: absolute;
  right: -40px;
  bottom: -4px;
  transform: rotate(-90deg);
}

.container {
  width: 1120px;
  margin: auto;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

.large-heading {
  display: inline-block;
  position: relative;
  margin-bottom: 30px;
  font-family: "Neutraface Display Titling";
  font-size: 70px;
  line-height: 0.83;
  color: #383fe7;
}
.large-heading.arrow:after {
  position: absolute;
  content: url("/images/pijl.svg");
  bottom: calc(50% - 36px);
  right: -110px;
}
.large-heading.arrow:hover:after {
  animation: pulse;
  animation-duration: 1s;
}

section h2, section p {
  margin-left: 95px;
}
section p {
  max-width: 665px;
  margin-bottom: 60px;
  font-family: "GT Walsheim";
  font-size: 20px;
  font-weight: 300;
  line-height: 1.35;
  color: #101855;
}

#collection {
  margin-bottom: 100px;
  position: relative;
  min-height: 886px;
}
#collection img {
  position: absolute;
}
#collection img:hover {
  z-index: 1;
  animation: pulse;
  animation-duration: 1s;
}
#collection #img-left {
  left: 0;
  top: 247px;
}
#collection #img-top {
  top: 0;
  left: 135px;
}
#collection #img-bottom {
  bottom: 0;
  right: 110px;
}
#collection #img-right {
  bottom: 299px;
  right: 0;
}

#about-us-photos {
  margin-bottom: 100px;
  position: relative;
  min-height: 870px;
}
#about-us-photos #img-bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}
#about-us-photos #img-top-right {
  position: absolute;
  top: 0;
  right: 0;
}

#contact {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
#contact div {
  display: flex;
  flex-direction: row;
}
#contact div p span {
  display: block;
  margin-top: 22px;
  font-size: 13px;
  font-style: oblique;
}
#contact div p:nth-child(2) {
  margin-left: 122px;
}
#contact img {
  margin-right: 95px;
}

#go-up {
  display: none;
  position: fixed;
  bottom: 150px;
  right: 30px;
  z-index: 99;
  transform: rotate(90deg);
  font-family: "GT Walsheim";
  font-size: 20px;
  line-height: 1.35;
  color: #383fe7;
}
#go-up:after {
  content: url("/images/pijl_blauw.svg");
  position: absolute;
  left: -40px;
  bottom: -8px;
  transform: rotate(-90deg);
}

footer {
  min-height: 98px;
  padding-left: 0.5em;
  background-color: #383fe7;
  font-family: "Neutraface Display Titling";
  font-size: 30px;
  line-height: 0.73;
  color: #ffffff;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
}
